<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>AttackSkillLeft1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1503},{300,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{300,285}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillLeft2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1204},{299,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillLeft3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,299},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillLeft4.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillLeft5.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{300,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{300,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillLeft6.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1488},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillRight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,299},{300,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{300,285}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillRight2.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,585},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillRight3.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,886},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillRight4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillRight5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{300,298}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>AttackSkillRight6.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1505},{299,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{299,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>DieLeft1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{282,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,51},{282,249}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>DieLeft2.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1806},{291,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,81},{291,219}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>DieLeft3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,228},{162,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,111},{162,189}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>DieRight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,250},{282,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,51},{282,249}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>DieRight2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1806},{291,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,81},{291,219}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>DieRight3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,228},{162,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,111},{162,189}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>Hiding1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,750},{162,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,125}}</string>
				<key>sourceSize</key>
				<string>{162,125}</string>
			</dict>

			<key>Hiding2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,450},{180,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,177}}</string>
				<key>sourceSize</key>
				<string>{180,177}</string>
			</dict>

			<key>Hiding3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1467},{180,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,177}}</string>
				<key>sourceSize</key>
				<string>{180,177}</string>
			</dict>

			<key>Hiding4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,1823},{173,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,172}}</string>
				<key>sourceSize</key>
				<string>{173,172}</string>
			</dict>

			<key>Hiding5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,1645},{180,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,177}}</string>
				<key>sourceSize</key>
				<string>{180,177}</string>
			</dict>

			<key>IceSwordLeft1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,822},{259,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{259,157}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>IceSwordLeft2.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1806},{265,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{265,158}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>IceSwordLeft3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1806},{260,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{260,163}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>IceSwordLeft4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,980},{243,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{243,158}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>IceSwordRain1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,1678},{157,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,21},{157,259}}</string>
				<key>sourceSize</key>
				<string>{205,283}</string>
			</dict>

			<key>IceSwordRain2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,1412},{158,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,18},{158,265}}</string>
				<key>sourceSize</key>
				<string>{205,283}</string>
			</dict>

			<key>IceSwordRain3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1670,450},{163,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,21},{163,260}}</string>
				<key>sourceSize</key>
				<string>{205,283}</string>
			</dict>

			<key>IceSwordRain4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,1168},{158,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,33},{158,243}}</string>
				<key>sourceSize</key>
				<string>{205,283}</string>
			</dict>

			<key>IceSwordRight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,664},{259,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,5},{259,157}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>IceSwordRight2.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1806},{265,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,5},{265,158}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>IceSwordRight3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,500},{260,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,1},{260,163}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>IceSwordRight4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,1806},{243,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,0},{243,158}}</string>
				<key>sourceSize</key>
				<string>{283,205}</string>
			</dict>

			<key>Sign1.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,1965},{201,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,1},{201,78}}</string>
				<key>sourceSize</key>
				<string>{207,80}</string>
			</dict>

			<key>Sign2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,664},{205,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{205,85}}</string>
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>

			<key>Sign3.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1965},{193,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{193,75}}</string>
				<key>sourceSize</key>
				<string>{196,76}</string>
			</dict>

			<key>SnackHurtLeft1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1503},{300,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{300,285}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackHurtLeft2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1204},{299,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackHurtLeft3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,299},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackHurtRight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,299},{300,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{300,285}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackHurtRight2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1505},{299,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{299,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackHurtRight3.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,886},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveLeft1.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1187},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveLeft2.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveLeft3.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1505},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveLeft4.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveLeft5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1204},{297,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{297,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveLeft6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,901},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveLeft7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1202},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveRight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,903},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveRight2.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveRight3.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,602},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveRight4.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,301},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveRight5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1505},{297,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{297,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveRight6.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,0},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackMoveRight7.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1204},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,300}}</string>
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>

			<key>SnackSkill1.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,1970},{95,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,46},{95,60}}</string>
				<key>sourceSize</key>
				<string>{125,114}</string>
			</dict>

			<key>SnackSkill2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,876},{45,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,12},{45,93}}</string>
				<key>sourceSize</key>
				<string>{125,114}</string>
			</dict>

			<key>SnackSkill3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,115},{120,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{120,111}}</string>
				<key>sourceSize</key>
				<string>{125,114}</string>
			</dict>

			<key>SnackSkill4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1691,0},{125,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,114}}</string>
				<key>sourceSize</key>
				<string>{125,114}</string>
			</dict>

			<key>SnackSkill5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1645},{113,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{113,110}}</string>
				<key>sourceSize</key>
				<string>{125,114}</string>
			</dict>

			<key>SnackSkill6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,1467},{109,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{109,108}}</string>
				<key>sourceSize</key>
				<string>{125,114}</string>
			</dict>

			<key>iceBroke1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1658,975},{169,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,5},{169,192}}</string>
				<key>sourceSize</key>
				<string>{190,205}</string>
			</dict>

			<key>iceBroke2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1501,1192},{196,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,11},{196,274}}</string>
				<key>sourceSize</key>
				<string>{206,291}</string>
			</dict>

			<key>iceBroke3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,0},{203,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,227}}</string>
				<key>sourceSize</key>
				<string>{217,227}</string>
			</dict>

			<key>iceBroke4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,750},{203,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{203,224}}</string>
				<key>sourceSize</key>
				<string>{221,235}</string>
			</dict>

			<key>iceBroke5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,228},{197,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,12},{197,221}}</string>
				<key>sourceSize</key>
				<string>{223,237}</string>
			</dict>

			<key>iceBroke6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,980},{209,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,23},{209,211}}</string>
				<key>sourceSize</key>
				<string>{219,238}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>BossTwo.png</string>
			</dict>
		</dict>
</plist>