<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss1DieLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,227},{152,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,12},{152,226}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1DieLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,214},{172,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,25},{172,213}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1DieLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{201,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,42},{201,196}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1DieLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,107},{232,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,134},{232,106}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1DieRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,0},{152,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,12},{152,226}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1DieRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,0},{172,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,25},{172,213}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1DieRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,666},{201,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,42},{201,196}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1DieRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{232,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,134},{232,106}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,450},{187,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,12},{187,226}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,440},{206,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{206,225}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,0},{170,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,16},{170,222}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,440},{206,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,13},{206,225}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,677},{187,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,12},{187,226}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{206,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,13},{206,225}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,223},{170,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,16},{170,222}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1HurtRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{206,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,13},{206,225}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,677},{192,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,12},{192,226}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,225},{196,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,14},{196,224}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,670},{169,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,15},{169,223}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,439},{196,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,14},{196,224}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,450},{192,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,12},{192,226}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{196,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,14},{196,224}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,446},{169,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,15},{169,223}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

			<key>boss1MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,214},{196,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,14},{196,224}}</string>
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>BossFour.png</string>
			</dict>
		</dict>
</plist>