<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>RollExplode_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{340,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{340,314}}</string>
				<key>sourceSize</key>
				<string>{346,319}</string>
			</dict>

			<key>RollExplode_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{337,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{337,312}}</string>
				<key>sourceSize</key>
				<string>{346,319}</string>
			</dict>

			<key>RollExplode_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,628},{332,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,5},{332,308}}</string>
				<key>sourceSize</key>
				<string>{346,319}</string>
			</dict>

			<key>RollExplode_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,628},{326,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,8},{326,302}}</string>
				<key>sourceSize</key>
				<string>{346,319}</string>
			</dict>

			<key>RollExplode_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,315},{314,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,15},{314,289}}</string>
				<key>sourceSize</key>
				<string>{346,319}</string>
			</dict>

			<key>RollExplode_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{192,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{192,181}}</string>
				<key>sourceSize</key>
				<string>{207,184}</string>
			</dict>

			<key>enemyExpoode_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,0},{143,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{143,288}}</string>
				<key>sourceSize</key>
				<string>{149,290}</string>
			</dict>

			<key>enemyExpoode_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,533},{128,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{128,281}}</string>
				<key>sourceSize</key>
				<string>{149,290}</string>
			</dict>

			<key>enemyExpoode_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,249},{113,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,6},{113,278}}</string>
				<key>sourceSize</key>
				<string>{149,290}</string>
			</dict>

			<key>enemyExpoode_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,289},{130,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,40},{130,243}}</string>
				<key>sourceSize</key>
				<string>{149,290}</string>
			</dict>

			<key>enemyExpoode_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,0},{126,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,34},{126,248}}</string>
				<key>sourceSize</key>
				<string>{149,290}</string>
			</dict>

			<key>enemyExpoode_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,528},{110,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,22},{110,258}}</string>
				<key>sourceSize</key>
				<string>{149,290}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>Explode.png</string>
			</dict>
		</dict>
</plist>