<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fireBall_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,203},{203,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,18},{203,218}}</string>
				<key>sourceSize</key>
				<string>{228,257}</string>
			</dict>

			<key>fireBall_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{205,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,18},{205,209}}</string>
				<key>sourceSize</key>
				<string>{228,257}</string>
			</dict>

			<key>fireBall_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{208,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,20},{208,202}}</string>
				<key>sourceSize</key>
				<string>{228,257}</string>
			</dict>

			<key>onFire_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{72,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,10},{72,81}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

			<key>onFire_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,422},{74,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{74,86}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

			<key>onFire_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,422},{74,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{74,88}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

			<key>onFire_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,413},{75,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,91}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

			<key>onFire_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,82},{72,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{72,90}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

			<key>onFire_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{71,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{71,85}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

			<key>onFire_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,422},{72,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{72,85}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

			<key>onFire_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,86},{70,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{70,88}}</string>
				<key>sourceSize</key>
				<string>{75,91}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fire.png</string>
			</dict>
		</dict>
</plist>