<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>heroDieLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{40,38},{77,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroDieLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,435},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,43},{73,76}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroDieLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,358},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,46},{69,73}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroDieLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,94},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,50},{64,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroDieRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,38},{77,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroDieRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,43},{73,76}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroDieRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,432},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,46},{69,73}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroDieRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,165},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,50},{64,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,194},{67,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,26},{67,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,389},{65,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,18},{65,100}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,22},{87,96}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,0},{61,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,22},{61,97}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,0},{67,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,26},{67,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,288},{65,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,18},{65,100}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{87,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,22},{87,96}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroFireRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,236},{61,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,22},{61,97}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,426},{60,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,38},{60,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{60,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,33},{60,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,334},{60,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,28},{60,91}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,98},{60,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,23},{60,96}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,334},{60,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,38},{60,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,416},{60,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,33},{60,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,183},{60,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,28},{60,91}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroMoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,385},{60,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,23},{60,96}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,290},{60,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,25},{60,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,194},{60,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,24},{60,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,96},{60,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,22},{60,97}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,0},{60,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,24},{60,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,371},{60,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,25},{60,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,275},{60,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,24},{60,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,0},{60,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,22},{60,97}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>heroStandRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,87},{60,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,24},{60,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>hero.png</string>
			</dict>
		</dict>
</plist>