<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LeftBullet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,112},{187,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{187,105}}</string>
				<key>sourceSize</key>
				<string>{193,105}</string>
			</dict>

			<key>LeftBullet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{196,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,121}}</string>
				<key>sourceSize</key>
				<string>{197,121}</string>
			</dict>

			<key>LeftBullet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,0},{175,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,101}}</string>
				<key>sourceSize</key>
				<string>{175,101}</string>
			</dict>

			<key>LeftBullet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{200,113}}</string>
				<key>sourceSize</key>
				<string>{200,115}</string>
			</dict>

			<key>LeftBullet5.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,114},{196,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{196,113}}</string>
				<key>sourceSize</key>
				<string>{197,116}</string>
			</dict>

			<key>RightBullet1.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,112},{187,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{187,105}}</string>
				<key>sourceSize</key>
				<string>{193,105}</string>
			</dict>

			<key>RightBullet2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,122},{196,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{196,121}}</string>
				<key>sourceSize</key>
				<string>{197,121}</string>
			</dict>

			<key>RightBullet3.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,0},{195,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,111}}</string>
				<key>sourceSize</key>
				<string>{195,112}</string>
			</dict>

			<key>RightBullet4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{200,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{200,113}}</string>
				<key>sourceSize</key>
				<string>{200,115}</string>
			</dict>

			<key>RightBullet5.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,0},{196,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{196,113}}</string>
				<key>sourceSize</key>
				<string>{197,116}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,256}</string>
			<key>textureFileName</key>
			<string>HeroBullet.png</string>
			</dict>
		</dict>
</plist>