<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>heroBorn_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,688},{163,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,38},{163,214}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{306,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,62},{306,227}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,495},{240,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,73},{240,192}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,688},{155,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{152,79},{155,156}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,392},{102,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,92},{102,122}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{109,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,106},{109,107}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,845},{105,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,98},{105,115}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,665},{102,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,67},{102,146}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,0},{121,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,66},{121,159}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,228},{139,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{189,64},{139,163}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,495},{145,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,60},{145,169}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,845},{150,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,58},{150,172}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

			<key>heroBorn_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{289,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,1},{289,266}}</string>
				<key>sourceSize</key>
				<string>{534,289}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>heroBorn.png</string>
			</dict>
		</dict>
</plist>