<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,160},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>fire1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{32,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>fire1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,113},{30,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{30,35}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>fire1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,37},{29,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{29,34}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>fire1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,197},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{32,35}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>fire1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,160},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{32,34}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>fire2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,113},{38,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{38,46}}</string>
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>

			<key>fire2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{36,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{36,45}}</string>
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>

			<key>fire2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,199},{40,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{40,46}}</string>
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>

			<key>fire2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{41,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{41,45}}</string>
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>

			<key>fire2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,199},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{41,47}}</string>
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>

			<key>fire2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,66},{40,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{40,46}}</string>
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>

			<key>fire3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{57,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{57,64}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>fire3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{57,66}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>fire3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,132},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,66}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>fire3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,0},{55,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{55,65}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>fire3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,66},{54,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{54,63}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

			<key>fire3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,132},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,66}}</string>
				<key>sourceSize</key>
				<string>{58,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>onFire.png</string>
			</dict>
		</dict>
</plist>