<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>born01.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,928},{113,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,28},{113,85}}</string>
				<key>sourceSize</key>
				<string>{143,121}</string>
			</dict>

			<key>born010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,836},{159,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,19},{159,103}}</string>
				<key>sourceSize</key>
				<string>{163,124}</string>
			</dict>

			<key>born011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,521},{163,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,11},{163,104}}</string>
				<key>sourceSize</key>
				<string>{170,117}</string>
			</dict>

			<key>born012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,415},{163,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,9},{163,105}}</string>
				<key>sourceSize</key>
				<string>{167,116}</string>
			</dict>

			<key>born013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{170,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,27},{170,99}}</string>
				<key>sourceSize</key>
				<string>{174,127}</string>
			</dict>

			<key>born014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,626},{162,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{162,104}}</string>
				<key>sourceSize</key>
				<string>{167,122}</string>
			</dict>

			<key>born02.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,411},{112,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,12},{112,107}}</string>
				<key>sourceSize</key>
				<string>{152,128}</string>
			</dict>

			<key>born03.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,309},{145,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{145,101}}</string>
				<key>sourceSize</key>
				<string>{151,121}</string>
			</dict>

			<key>born04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{181,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{181,103}}</string>
				<key>sourceSize</key>
				<string>{187,118}</string>
			</dict>

			<key>born05.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,626},{151,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,28},{151,112}}</string>
				<key>sourceSize</key>
				<string>{159,142}</string>
			</dict>

			<key>born06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,731},{162,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,23},{162,104}}</string>
				<key>sourceSize</key>
				<string>{170,129}</string>
			</dict>

			<key>born07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,309},{163,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{163,105}}</string>
				<key>sourceSize</key>
				<string>{167,121}</string>
			</dict>

			<key>born08.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,836},{153,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,13},{153,91}}</string>
				<key>sourceSize</key>
				<string>{162,107}</string>
			</dict>

			<key>born09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,204},{165,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,26},{165,104}}</string>
				<key>sourceSize</key>
				<string>{170,133}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>