<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy11AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,115},{93,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,1},{93,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,444},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{117,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,734},{119,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,30},{119,88}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,848},{108,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,31},{108,87}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,233},{93,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{93,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,888},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{117,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,536},{119,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,30},{119,88}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,936},{108,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,31},{108,87}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,661},{117,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,26},{117,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,473},{117,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,26},{117,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{117,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,26},{117,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,93},{117,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,29},{117,89}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,471},{114,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,33},{114,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,284},{117,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,29},{117,89}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,566},{117,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,26},{117,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,659},{117,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,29},{117,89}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,656},{114,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,33},{114,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy11MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,867},{117,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,29},{117,89}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,812},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{115,105}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,508},{113,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,8},{113,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,614},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,2},{106,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,183},{117,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,18},{117,100}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,706},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{115,105}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,737},{113,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,8},{113,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,117},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{106,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{117,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,18},{117,100}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,101},{117,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{117,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,888},{117,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{117,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,444},{118,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,8},{118,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,0},{116,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{116,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,95},{114,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,20},{114,98}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,210},{116,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{116,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,777},{118,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,8},{118,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,105},{116,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{116,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,90},{114,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,20},{114,98}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy12MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,0},{116,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,14},{116,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,234},{99,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,0},{99,118}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,390},{113,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{113,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,731},{106,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,15},{106,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,848},{107,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,12},{107,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,115},{99,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{99,118}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,619},{113,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,1},{113,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,115},{106,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,15},{106,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,390},{107,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,12},{107,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,331},{119,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{119,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{119,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,6},{119,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,754},{117,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{117,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,429},{119,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,12},{119,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,293},{115,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,15},{115,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,625},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,10},{119,108}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,749},{117,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{117,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,823},{119,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{119,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,491},{115,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{115,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy13MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,222},{119,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,10},{119,108}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,835},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,4},{106,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,595},{115,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,8},{115,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,555},{118,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{118,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,497},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{106,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,862},{115,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{115,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,666},{118,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,8},{118,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{120,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,612},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{106,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,0},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{106,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,497},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{106,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,0},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,4},{106,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,219},{106,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{106,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,234},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,4},{106,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,848},{106,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{106,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{106,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,349},{106,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{106,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy14MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,462},{106,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{106,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,0},{114,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,24},{114,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,374},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,20},{117,98}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,729},{106,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,0},{106,118}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{119,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,25},{119,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,189},{114,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,24},{114,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,562},{117,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,20},{117,98}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,577},{106,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,118}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,335},{119,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,25},{119,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,293},{114,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,22},{114,96}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,374},{114,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,22},{114,96}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,194},{114,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,20},{114,98}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,199},{115,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,25},{115,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,284},{114,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,29},{114,89}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,397},{115,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,25},{115,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,557},{114,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,20},{114,98}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,918},{115,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,25},{115,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,0},{114,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,29},{114,89}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy15MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,105},{115,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,25},{115,93}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>stage1.png</string>
			</dict>
		</dict>
</plist>