<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy21AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,745},{72,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,2},{72,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,402},{89,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,8},{89,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,610},{89,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,34},{89,84}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,343},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,32},{112,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,435},{72,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{72,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,888},{89,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,8},{89,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,803},{89,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,34},{89,84}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,843},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,32},{112,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,339},{90,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,35},{90,83}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,526},{90,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,35},{90,83}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,862},{91,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,33},{91,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,0},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,32},{91,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,532},{91,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,31},{91,87}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,775},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,32},{91,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,87},{91,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,33},{91,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,339},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,32},{91,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,115},{91,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,31},{91,87}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy21MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,445},{91,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,32},{91,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,0},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,4},{100,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,426},{91,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,13},{91,105}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{117,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{117,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{117,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{117,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,206},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{100,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,339},{91,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{91,105}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{117,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,6},{117,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{117,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{117,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,0},{87,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,2},{87,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,628},{87,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,2},{87,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,733},{100,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{100,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,424},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,541},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,2},{98,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,424},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,321},{100,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{100,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,621},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,658},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{98,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy22MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,621},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,212},{101,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,2},{101,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,222},{95,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,3},{95,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,536},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,35},{104,84}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,553},{114,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,27},{114,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,733},{101,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{101,117}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,541},{95,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,3},{95,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,424},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,35},{104,84}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{114,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,27},{114,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,883},{96,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,6},{96,113}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,0},{96,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,6},{96,113}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,646},{113,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,10},{113,109}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,617},{109,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,13},{109,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,866},{113,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,10},{113,109}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,510},{109,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,13},{109,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{113,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{113,109}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,107},{109,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{109,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,646},{113,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{113,109}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy23MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{109,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{109,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,620},{90,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,17},{90,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,173},{90,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,34},{90,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,326},{89,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,44},{89,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,330},{98,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,52},{98,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,423},{90,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{90,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{90,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,34},{90,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,948},{89,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,44},{89,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,851},{98,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,52},{98,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,723},{90,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,40},{90,79}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,259},{90,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,40},{90,79}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,309},{108,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,16},{108,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,214},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{107,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{107,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,13},{107,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,107},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{107,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,605},{108,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,16},{108,103}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,709},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,15},{107,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,814},{107,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,13},{107,106}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy24MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,319},{107,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,15},{107,104}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,322},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,7},{82,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,206},{90,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,0},{90,119}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,460},{112,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,36},{112,83}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,930},{110,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,40},{110,79}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,0},{82,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,7},{82,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,86},{90,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{90,119}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,259},{112,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,36},{112,83}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,430},{110,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,40},{110,79}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,0},{75,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,3},{75,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,628},{75,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,3},{75,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,756},{112,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,34},{112,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,544},{112,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,34},{112,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,0},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,33},{112,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,928},{112,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,34},{112,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,87},{112,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,34},{112,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,173},{112,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,34},{112,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,756},{112,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,33},{112,86}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy25MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,842},{112,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,34},{112,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,803},{88,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,4},{88,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,117},{86,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{86,108}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,226},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,23},{84,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,921},{105,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,26},{105,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,513},{88,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{88,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,117},{86,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,10},{86,108}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,918},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,23},{84,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,930},{105,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,26},{105,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,226},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,33},{85,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,918},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,33},{85,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,775},{96,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,11},{96,107}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,510},{108,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,24},{108,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,438},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,114},{96,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,11},{96,107}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,850},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,214},{108,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,24},{108,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy26MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,103},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>stage2.png</string>
			</dict>
		</dict>
</plist>