<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy31AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,391},{88,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,4},{88,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,179},{86,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{86,108}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,621},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,23},{84,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,650},{105,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,26},{105,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,506},{88,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{88,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,855},{86,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,10},{86,108}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,374},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,23},{84,95}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,743},{105,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,26},{105,92}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,288},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,33},{85,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,0},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,33},{85,85}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,0},{96,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,11},{96,107}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,335},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{108,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,24},{108,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,575},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,438},{96,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,11},{96,107}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,232},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{108,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,24},{108,94}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy31MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,678},{100,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,16},{100,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,82},{58,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,45},{58,74}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,235},{60,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,51},{60,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,545},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,47},{67,72}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,767},{70,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,55},{70,64}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,232},{58,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,45},{58,74}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,844},{60,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,51},{60,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,472},{67,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,47},{67,72}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,552},{70,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,55},{70,64}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,689},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,50},{59,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,759},{59,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,50},{59,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,157},{51,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,51},{51,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,689},{54,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,51},{54,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,445},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,49},{56,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,583},{54,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,51},{54,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,226},{51,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,51},{51,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,758},{54,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,51},{54,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,374},{56,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,49},{56,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy32MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,827},{54,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,51},{54,68}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,717},{69,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,58},{69,61}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,78},{72,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,3},{72,115}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,948},{99,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,46},{99,72}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,108},{94,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,50},{94,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,787},{69,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,58},{69,61}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,194},{72,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,3},{72,115}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,948},{99,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,46},{99,72}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,575},{94,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,50},{94,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,255},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,42},{80,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,943},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,42},{80,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,0},{57,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,50},{57,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,164},{58,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,52},{58,67}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,164},{60,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,49},{60,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,307},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,53},{56,66}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,897},{57,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,50},{57,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,829},{58,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,52},{58,67}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,618},{60,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,49},{60,70}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy33MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,516},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,53},{56,66}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,0},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,44},{70,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,916},{67,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,40},{67,79}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,0},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,38},{68,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,333},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,44},{80,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,78},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,44},{70,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,310},{67,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,40},{67,79}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,916},{68,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,38},{68,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,44},{80,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,390},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,38},{67,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,82},{67,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,38},{67,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,461},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,44},{69,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,310},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,44},{69,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,386},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,45},{69,74}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,613},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,44},{69,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,840},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,44},{69,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,764},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,44},{69,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,689},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,45},{69,74}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy34MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,537},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,44},{69,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,855},{84,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,50},{84,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,618},{60,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,7},{60,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,470},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,38},{83,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,717},{84,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,51},{84,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,108},{84,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,50},{84,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,731},{60,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,7},{60,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,86},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,38},{83,81}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,925},{84,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,51},{84,69}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,485},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,44},{80,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,409},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,44},{80,75}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,178},{83,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,43},{83,76}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,865},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,42},{80,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{73,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,42},{73,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,787},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,42},{80,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,288},{83,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,43},{83,76}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,639},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,42},{80,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,168},{73,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,42},{73,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy35MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,561},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,42},{80,77}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,117},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,4},{100,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,179},{91,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,13},{91,105}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{117,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{117,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{117,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{117,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,460},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{100,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,285},{91,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{91,105}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{117,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,6},{117,112}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36AttackRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{117,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{117,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36Hurt_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,738},{87,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,2},{87,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36Hurt_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,621},{87,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,2},{87,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveLeft_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,650},{100,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{100,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveLeft_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,836},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveLeft_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,898},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,2},{98,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveLeft_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,836},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveRight_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,0},{100,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{100,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveRight_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,836},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveRight_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,781},{98,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{98,116}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

			<key>enemy36MoveRight_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,836},{104,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{104,111}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>stage3.png</string>
			</dict>
		</dict>
</plist>