<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>help.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1919},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{39,37}}</string>
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>

			<key>set.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1874},{45,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,12},{45,44}}</string>
				<key>sourceSize</key>
				<string>{100,68}</string>
			</dict>

			<key>start1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,13},{58,64}}</string>
				<key>sourceSize</key>
				<string>{130,89}</string>
			</dict>

			<key>startBG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{961,641}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{961,641}}</string>
				<key>sourceSize</key>
				<string>{961,641}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1227},{369,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{369,257}}</string>
				<key>sourceSize</key>
				<string>{369,283}</string>
			</dict>

			<key>wing_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{574,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,0},{574,295}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

			<key>wing_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,296},{572,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,0},{572,295}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

			<key>wing_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,933},{576,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,0},{576,293}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

			<key>wing_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1517},{580,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{580,291}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

			<key>wing_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1226},{586,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{586,290}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

			<key>wing_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,642},{590,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{590,290}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

			<key>wing_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,933},{588,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{588,292}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

			<key>wing_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1517},{580,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,0},{580,295}}</string>
				<key>sourceSize</key>
				<string>{600,300}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>start.png</string>
			</dict>
		</dict>
</plist>