<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,323},{52,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,10},{52,43}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,482},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,16},{28,28}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,323},{48,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{48,45}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,162},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,2},{48,49}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>200.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,0},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,8},{47,45}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>500.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,162},{43,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,4},{43,49}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

			<key>chest-disapear_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,15},{100,90}}</string>
				<key>sourceSize</key>
				<string>{130,120}</string>
			</dict>

			<key>chest-disapear_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,121},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,15},{100,90}}</string>
				<key>sourceSize</key>
				<string>{130,120}</string>
			</dict>

			<key>chest-disapear_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,321},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,15},{100,90}}</string>
				<key>sourceSize</key>
				<string>{130,120}</string>
			</dict>

			<key>chest-disapear_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,230},{102,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,14},{102,92}}</string>
				<key>sourceSize</key>
				<string>{130,120}</string>
			</dict>

			<key>chest-disapear_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{130,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,120}}</string>
				<key>sourceSize</key>
				<string>{130,120}</string>
			</dict>

			<key>chest-open_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,121},{114,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,23},{114,108}}</string>
				<key>sourceSize</key>
				<string>{140,132}</string>
			</dict>

			<key>chest-open_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,371},{133,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,131}}</string>
				<key>sourceSize</key>
				<string>{140,132}</string>
			</dict>

			<key>chest-open_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{140,124}}</string>
				<key>sourceSize</key>
				<string>{140,132}</string>
			</dict>

			<key>chest-open_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,125},{140,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{140,124}}</string>
				<key>sourceSize</key>
				<string>{140,132}</string>
			</dict>

			<key>chest-open_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{140,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,120}}</string>
				<key>sourceSize</key>
				<string>{140,132}</string>
			</dict>

			<key>chest-open_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,371},{138,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{138,110}}</string>
				<key>sourceSize</key>
				<string>{140,132}</string>
			</dict>

			<key>fireUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,412},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{64,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>hpUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,412},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{64,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>rangeUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,91},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{64,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>speedUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,212},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,0},{64,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>treasure chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,230},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>tool.png</string>
			</dict>
		</dict>
</plist>