<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ToolBomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,233},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>ToolBomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,224},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>ToolBomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>ToolBomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,176},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>ToolBomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>ToolBomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,119},{85,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,55}</string>
            </dict>
            <key>ToolSkills1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,80},{2,1}}</string>
                <key>offset</key>
                <string>{-44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{2,1}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills10.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,162},{60,39}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{60,39}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,119},{42,41}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{42,41}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{124,37}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,41},{124,37}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{124,37}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,37}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,37}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,37}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,80},{122,37}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,37}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>ToolSkills9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{120,35}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{120,35}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tool.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:631623b622c16b12976093dd52583f21$</string>
            <key>textureFileName</key>
            <string>Tool.png</string>
        </dict>
    </dict>
</plist>
