<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,104},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,104},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{21,9}</string>
            </dict>
            <key>bigarrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,140},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>bigarrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{23,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,10}}</string>
                <key>sourceSize</key>
                <string>{23,10}</string>
            </dict>
            <key>bone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>bone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,131},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>bone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,131},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>bone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,104},{20,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,9}}</string>
                <key>sourceSize</key>
                <string>{20,9}</string>
            </dict>
            <key>bone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,136},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>bone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,55},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>bone_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,136},{12,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,7}}</string>
                <key>sourceSize</key>
                <string>{12,7}</string>
            </dict>
            <key>cool_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,55},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>cool_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,222},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>cool_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,104},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>cool_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,214},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>cool_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,214},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,247},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,104},{7,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,17}}</string>
                <key>sourceSize</key>
                <string>{7,17}</string>
            </dict>
            <key>fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,136},{7,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,13}}</string>
                <key>sourceSize</key>
                <string>{7,13}</string>
            </dict>
            <key>fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,113},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,131},{7,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,17}}</string>
                <key>sourceSize</key>
                <string>{7,17}</string>
            </dict>
            <key>fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,104},{7,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,14}}</string>
                <key>sourceSize</key>
                <string>{7,14}</string>
            </dict>
            <key>fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,113},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,85},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>sowrd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{81,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,92}}</string>
                <key>sourceSize</key>
                <string>{81,92}</string>
            </dict>
            <key>sword_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,23},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>sword_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>sword_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>sword_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>sword_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,85},{78,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{78,62}</string>
            </dict>
            <key>sword_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,100}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>wind_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,200},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>wind_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,151},{61,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{61,54}</string>
            </dict>
            <key>wind_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,97},{57,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,52}}</string>
                <key>sourceSize</key>
                <string>{57,52}</string>
            </dict>
            <key>wind_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,149},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>otherskill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d3943fa803201b8c68252f04835021c$</string>
            <key>textureFileName</key>
            <string>otherskill.png</string>
        </dict>
    </dict>
</plist>
