<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{114,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,34}}</string>
                <key>sourceSize</key>
                <string>{114,34}</string>
            </dict>
            <key>up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
            <key>up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,35}}</string>
                <key>sourceSize</key>
                <string>{118,35}</string>
            </dict>
            <key>up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{115,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,32}}</string>
                <key>sourceSize</key>
                <string>{115,32}</string>
            </dict>
            <key>up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{115,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,35}}</string>
                <key>sourceSize</key>
                <string>{115,35}</string>
            </dict>
            <key>up6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{107,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,22}}</string>
                <key>sourceSize</key>
                <string>{107,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>towerup.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8e99c6a7ce4ff7eda193d4b43c93e8f$</string>
            <key>textureFileName</key>
            <string>towerup.png</string>
        </dict>
    </dict>
</plist>
