<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossEnemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{368,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,504}}</string>
                <key>sourceSize</key>
                <string>{368,504}</string>
            </dict>
            <key>BossEnemy10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1136},{358,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,500}}</string>
                <key>sourceSize</key>
                <string>{358,500}</string>
            </dict>
            <key>BossEnemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,766},{368,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,502}}</string>
                <key>sourceSize</key>
                <string>{368,502}</string>
            </dict>
            <key>BossEnemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,384},{380,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,502}}</string>
                <key>sourceSize</key>
                <string>{380,502}</string>
            </dict>
            <key>BossEnemy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,522},{368,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,502}}</string>
                <key>sourceSize</key>
                <string>{368,502}</string>
            </dict>
            <key>BossEnemy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{378,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,500}}</string>
                <key>sourceSize</key>
                <string>{378,500}</string>
            </dict>
            <key>BossEnemy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,892},{408,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,500}}</string>
                <key>sourceSize</key>
                <string>{408,500}</string>
            </dict>
            <key>BossEnemy7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{380,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,502}}</string>
                <key>sourceSize</key>
                <string>{380,502}</string>
            </dict>
            <key>BossEnemy8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{360,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,502}}</string>
                <key>sourceSize</key>
                <string>{360,502}</string>
            </dict>
            <key>BossEnemy9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,912},{360,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,502}}</string>
                <key>sourceSize</key>
                <string>{360,502}</string>
            </dict>
            <key>BossEnemyDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{520,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,518}}</string>
                <key>sourceSize</key>
                <string>{520,518}</string>
            </dict>
            <key>BossEnemyDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,388}}</string>
                <key>sourceSize</key>
                <string>{534,388}</string>
            </dict>
            <key>BossEnemyDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,266},{472,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,276}}</string>
                <key>sourceSize</key>
                <string>{472,276}</string>
            </dict>
            <key>BossEnemyDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,2},{474,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,262}}</string>
                <key>sourceSize</key>
                <string>{474,262}</string>
            </dict>
            <key>BossEnemyDie_Three1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1862},{402,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,358}}</string>
                <key>sourceSize</key>
                <string>{402,358}</string>
            </dict>
            <key>BossEnemyDie_Three2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,1948},{352,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,326}}</string>
                <key>sourceSize</key>
                <string>{352,326}</string>
            </dict>
            <key>BossEnemyDie_Three3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2050},{394,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,286}}</string>
                <key>sourceSize</key>
                <string>{394,286}</string>
            </dict>
            <key>BossEnemyDie_Three4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1274},{436,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,306}}</string>
                <key>sourceSize</key>
                <string>{436,306}</string>
            </dict>
            <key>BossEnemyDie_Two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,544},{464,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,366}}</string>
                <key>sourceSize</key>
                <string>{464,366}</string>
            </dict>
            <key>BossEnemyDie_Two2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1302},{444,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,380}}</string>
                <key>sourceSize</key>
                <string>{444,380}</string>
            </dict>
            <key>BossEnemyDie_Two3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{444,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,314}}</string>
                <key>sourceSize</key>
                <string>{444,314}</string>
            </dict>
            <key>BossEnemy_Three1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2186},{374,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,386}}</string>
                <key>sourceSize</key>
                <string>{374,386}</string>
            </dict>
            <key>BossEnemy_Three2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2222},{374,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,384}}</string>
                <key>sourceSize</key>
                <string>{374,384}</string>
            </dict>
            <key>BossEnemy_Three3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2338},{376,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,380}}</string>
                <key>sourceSize</key>
                <string>{376,380}</string>
            </dict>
            <key>BossEnemy_Three4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,1948},{374,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,384}}</string>
                <key>sourceSize</key>
                <string>{374,384}</string>
            </dict>
            <key>BossEnemy_Two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1582},{364,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,406}}</string>
                <key>sourceSize</key>
                <string>{364,406}</string>
            </dict>
            <key>BossEnemy_Two2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{364,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,406}}</string>
                <key>sourceSize</key>
                <string>{364,406}</string>
            </dict>
            <key>BossEnemy_Two3.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1684},{364,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,406}}</string>
                <key>sourceSize</key>
                <string>{364,406}</string>
            </dict>
            <key>BossEnemy_Two4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1496},{364,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,406}}</string>
                <key>sourceSize</key>
                <string>{364,406}</string>
            </dict>
            <key>EnemyCommon_one1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1362},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>EnemyCommon_one2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1454},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>EnemyCommon_one3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1666},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>EnemyCommon_oneDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1414},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,66}}</string>
                <key>sourceSize</key>
                <string>{38,66}</string>
            </dict>
            <key>EnemyCommon_oneDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1302},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>EnemyCommon_oneDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1475},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>EnemyCommon_oneDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1318},{69,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,42}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>EnemyCommon_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1612},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>EnemyCommon_two2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1558},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>EnemyCommon_two3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1421},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>EnemyCommon_two4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1504},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>EnemyHurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,530},{21,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{21,22}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>EnemyHurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,392},{27,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>EnemyHurt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,486},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>EnemyHurt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,453},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>EnemyHurt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,420},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>EnemyHurt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,519},{9,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>SmartEnemyDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1506},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{42,64}</string>
            </dict>
            <key>SmartEnemyDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1361},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>SmartEnemyDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1274},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>SmartEnemyDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1136},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Enemy.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:631deccbd43885d40a5056a34c0b9394$</string>
            <key>textureFileName</key>
            <string>Enemy.png</string>
        </dict>
    </dict>
</plist>
