<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NO-10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,104},{90,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>strap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,6}}</string>
                <key>sourceSize</key>
                <string>{124,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tools.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6c74ba5fa84b7a747c01b7188aa6432$</string>
            <key>textureFileName</key>
            <string>tools.png</string>
        </dict>
    </dict>
</plist>
