<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameStartBG_1/GUI/button.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,977},{103,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,36}}</string>
                <key>sourceSize</key>
                <string>{103,40}</string>
            </dict>
            <key>GameStartBG_1/GUI/labelatlasimg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,584},{230,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{230,24}}</string>
                <key>sourceSize</key>
                <string>{240,32}</string>
            </dict>
            <key>GameStartBG_1/GUI/missing-font.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{506,376}}</string>
                <key>offset</key>
                <string>{-1,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{506,376}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>GameStartBG_1/welcomeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{853,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,480}}</string>
                <key>sourceSize</key>
                <string>{853,480}</string>
            </dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,510},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{340,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,800}}</string>
                <key>sourceSize</key>
                <string>{340,800}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{340,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,800}}</string>
                <key>sourceSize</key>
                <string>{340,800}</string>
            </dict>
            <key>enemy-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,804},{90,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,210}}</string>
                <key>sourceSize</key>
                <string>{90,210}</string>
            </dict>
            <key>handcursor1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,554},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>handcursor2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,979},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,857},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>enemy-koran.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,857},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>mainplane.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,804},{428,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{428,97}}</string>
                <key>sourceSize</key>
                <string>{432,101}</string>
            </dict>
            <key>mainplaneIdle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,903},{70,91}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{70,91}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>mainplaneIdle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,903},{76,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,95}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>mainplaneLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,903},{70,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>mainplaneLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,903},{70,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,95}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>mainplaneRight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,903},{72,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>mainplaneRight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,903},{60,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{60,93}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>quitNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,857},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>quitPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,857},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>restartNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,857},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>restartPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,979},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>enemy-rsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,857},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,857},{148,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,69}}</string>
                <key>sourceSize</key>
                <string>{148,69}</string>
            </dict>
            <key>selector1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,992},{80,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,21}}</string>
                <key>sourceSize</key>
                <string>{80,21}</string>
            </dict>
            <key>selector2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,992},{80,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,21}}</string>
                <key>sourceSize</key>
                <string>{80,21}</string>
            </dict>
            <key>selector3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,992},{80,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,21}}</string>
                <key>sourceSize</key>
                <string>{80,21}</string>
            </dict>
            <key>startNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,510},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>startPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,959},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>enemy-usa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,804},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>welcomeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{853,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,480}}</string>
                <key>sourceSize</key>
                <string>{853,480}</string>
            </dict>
            <key>worldscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{150,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,70}}</string>
                <key>sourceSize</key>
                <string>{150,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>asset.png</string>
            <key>size</key>
            <string>{1546,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81353c832f31e018631c922739c47037:7504fbbab83fda1116b89a320ce17661:708120758f86905ebf3c676a8273f696$</string>
            <key>textureFileName</key>
            <string>asset.png</string>
        </dict>
    </dict>
</plist>
