<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hjths_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{410,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,118}}</string>
                <key>sourceSize</key>
                <string>{410,118}</string>
            </dict>
            <key>hjths_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,143},{389,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,123}}</string>
                <key>sourceSize</key>
                <string>{389,123}</string>
            </dict>
            <key>hjths_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,367},{387,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,98}}</string>
                <key>sourceSize</key>
                <string>{387,98}</string>
            </dict>
            <key>hjths_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,367},{384,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,91}}</string>
                <key>sourceSize</key>
                <string>{384,91}</string>
            </dict>
            <key>hjths_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,367},{384,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,93}}</string>
                <key>sourceSize</key>
                <string>{384,93}</string>
            </dict>
            <key>hjths_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,268},{389,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,97}}</string>
                <key>sourceSize</key>
                <string>{389,97}</string>
            </dict>
            <key>hjths_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,414},{389,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,103}}</string>
                <key>sourceSize</key>
                <string>{389,103}</string>
            </dict>
            <key>hjths_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{389,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,99}}</string>
                <key>sourceSize</key>
                <string>{389,99}</string>
            </dict>
            <key>hjths_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{267,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,68}}</string>
                <key>sourceSize</key>
                <string>{267,68}</string>
            </dict>
            <key>hjths_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{434,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,125}}</string>
                <key>sourceSize</key>
                <string>{434,125}</string>
            </dict>
            <key>hjths_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,135}}</string>
                <key>sourceSize</key>
                <string>{456,135}</string>
            </dict>
            <key>hjths_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{439,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,139}}</string>
                <key>sourceSize</key>
                <string>{439,139}</string>
            </dict>
            <key>hjths_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,194},{311,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,69}}</string>
                <key>sourceSize</key>
                <string>{311,69}</string>
            </dict>
            <key>hjths_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,944},{103,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,69}}</string>
                <key>sourceSize</key>
                <string>{103,69}</string>
            </dict>
            <key>hjths_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,143},{70,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,49}}</string>
                <key>sourceSize</key>
                <string>{70,49}</string>
            </dict>
            <key>hjths_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,944},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>hjths_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,505},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>hjths_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,805},{137,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,134}}</string>
                <key>sourceSize</key>
                <string>{137,134}</string>
            </dict>
            <key>hjths_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,367},{136,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{136,134}</string>
            </dict>
            <key>hjths_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{138,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,128}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>hjths_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,805},{149,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,145}}</string>
                <key>sourceSize</key>
                <string>{149,145}</string>
            </dict>
            <key>hjths_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{242,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,166}}</string>
                <key>sourceSize</key>
                <string>{242,166}</string>
            </dict>
            <key>hjths_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,753},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hjths.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ce8e570d439ae7cd16d9a70c1935dfe:1/1$</string>
            <key>textureFileName</key>
            <string>hjths.png</string>
        </dict>
    </dict>
</plist>
