<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{168,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,250}}</string>
                <key>sourceSize</key>
                <string>{168,250}</string>
            </dict>
            <key>jg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{135,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,216}}</string>
                <key>sourceSize</key>
                <string>{135,216}</string>
            </dict>
            <key>jg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,293},{69,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,86}}</string>
                <key>sourceSize</key>
                <string>{69,86}</string>
            </dict>
            <key>jg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{113,125}</string>
            </dict>
            <key>jg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,364},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>jg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,476},{129,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,146}}</string>
                <key>sourceSize</key>
                <string>{129,146}</string>
            </dict>
            <key>jg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,530},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{70,108}</string>
            </dict>
            <key>jg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{153,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,130}}</string>
                <key>sourceSize</key>
                <string>{153,130}</string>
            </dict>
            <key>jg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{304,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,138}}</string>
                <key>sourceSize</key>
                <string>{304,138}</string>
            </dict>
            <key>jg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,392},{154,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,136}}</string>
                <key>sourceSize</key>
                <string>{154,136}</string>
            </dict>
            <key>jg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,149}}</string>
                <key>sourceSize</key>
                <string>{311,149}</string>
            </dict>
            <key>jg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,254},{154,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,136}}</string>
                <key>sourceSize</key>
                <string>{154,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c047bc1541ef9a08b68b23fe28a46898:1/1$</string>
            <key>textureFileName</key>
            <string>jg.png</string>
        </dict>
    </dict>
</plist>
