<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ths_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,162}}</string>
                <key>sourceSize</key>
                <string>{381,162}</string>
            </dict>
            <key>ths_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,181},{377,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,152}}</string>
                <key>sourceSize</key>
                <string>{377,152}</string>
            </dict>
            <key>ths_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{124,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,121}}</string>
                <key>sourceSize</key>
                <string>{124,121}</string>
            </dict>
            <key>ths_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,335},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>ths_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,401},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>ths_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,258},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>ths_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,335},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>ths_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,429},{80,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>ths_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,181},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>ths_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,427},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>ths_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,429},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>ths_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{341,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,76}}</string>
                <key>sourceSize</key>
                <string>{341,76}</string>
            </dict>
            <key>ths_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,125},{117,54}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{117,54}}</string>
                <key>sourceSize</key>
                <string>{117,68}</string>
            </dict>
            <key>ths_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,335},{90,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{90,73}</string>
            </dict>
            <key>ths_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,335},{172,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,158}}</string>
                <key>sourceSize</key>
                <string>{172,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ths.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f0b3fba81227b32497b72a00023c7b0:1/1$</string>
            <key>textureFileName</key>
            <string>ths.png</string>
        </dict>
    </dict>
</plist>
