<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigSkill0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2723,2078},{869,502}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{869,502}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2741,1562},{903,514}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{903,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{965,534}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{965,534}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2825,1046},{911,514}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{911,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{911,514}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{911,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill13.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,518},{941,514}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{941,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill14.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{965,514}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{965,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2879,2},{911,524}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{911,524}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{909,514}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{909,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1052},{911,510}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{911,510}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill18.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1550},{911,504}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{911,504}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2098},{893,514}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,21},{893,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2056},{893,516}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{893,516}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1564},{893,516}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{893,516}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1034},{911,514}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{911,514}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,534},{911,516}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{911,516}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{911,526}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{911,526}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2879,528},{911,516}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{911,516}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
            <key>bigSkill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{941,530}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{941,530}}</string>
                <key>sourceSize</key>
                <string>{965,550}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigSkill.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf2cea7353506aa8cb282d79e3709e4$</string>
            <key>textureFileName</key>
            <string>bigSkill.png</string>
        </dict>
    </dict>
</plist>
