<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_ release0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,212},{42,77}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,42},{42,77}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_ release1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{36,95}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_ release2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,54},{36,91}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,27},{36,91}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attick0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,158},{52,77}}</string>
                <key>offset</key>
                <string>{-11,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,43},{52,77}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{74,73}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{74,73}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,256},{70,47}}</string>
                <key>offset</key>
                <string>{11,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,73},{70,47}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,74},{82,61}}</string>
                <key>offset</key>
                <string>{17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,59},{82,61}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,163},{84,57}}</string>
                <key>offset</key>
                <string>{-25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,62},{84,57}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{36,95}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{52,57}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,63},{52,57}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,92},{84,69}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,50},{84,69}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{86,83}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{86,83}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,350},{54,63}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,57},{54,63}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,222},{74,63}}</string>
                <key>offset</key>
                <string>{-21,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{74,63}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{72,65}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{72,65}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{74,73}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{74,73}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_attickSkill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,256},{70,47}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,72},{70,47}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_die0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{60,47}}</string>
                <key>offset</key>
                <string>{-12,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{60,47}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{70,25}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,93},{70,25}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_hurt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,433},{50,55}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,63},{50,55}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{36,95}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_jump0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,287},{66,61}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{66,61}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{36,95}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_jump_attick0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,345},{64,53}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,63},{64,53}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_jump_attick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{36,95}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{38,61}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,59},{38,61}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,305},{42,63}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{42,63}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,400},{54,61}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,58},{54,61}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,370},{42,61}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{42,61}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_stand0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{36,95}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{42,75}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,44},{42,75}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,305},{38,65}}</string>
                <key>offset</key>
                <string>{7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,54},{38,65}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_win0.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{50,99}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,19},{50,99}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,117}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,1},{40,117}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
            <key>hero_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{36,95}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,24},{36,95}}</string>
                <key>sourceSize</key>
                <string>{136,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeroPicture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:155f7d7b18c739c355f2f0eb1c0e75a3$</string>
            <key>textureFileName</key>
            <string>HeroPicture.png</string>
        </dict>
    </dict>
</plist>
