<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{77,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,59}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>loading_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,55}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>loading_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{78,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,55}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>loading_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,61},{75,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{77,63}</string>
            </dict>
            <key>loading_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{80,57}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,57}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>loading_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,59},{80,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133ff48c255a433eb2f59228f79dc82b$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
