<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n29.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,98},{64,94}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,15},{64,94}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>n30.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{64,94}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{64,94}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{68,98}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{68,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,200},{72,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,20},{72,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,98}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{76,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,194},{58,94}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{58,94}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,396},{62,96}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{62,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,396},{64,94}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{64,94}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{72,96}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{72,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_attick7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,298},{70,96}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{70,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_hurt0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,290},{68,92}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{68,92}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_hurt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,290},{68,92}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{68,92}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,202},{62,98}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{62,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,102},{74,96}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{74,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,402},{70,96}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{70,96}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{68,98}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{68,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,302},{66,98}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{66,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{70,98}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{70,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>sol_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{74,98}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{74,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nangua.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b32a5c169d992349b0faeb01930ed4f$</string>
            <key>textureFileName</key>
            <string>nangua.png</string>
        </dict>
    </dict>
</plist>
