<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kill_lightning0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,310}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,310}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
            <key>kill_lightning1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{267,304}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{267,304}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
            <key>kill_lightning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{255,302}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{255,302}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
            <key>kill_lightning3.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{261,302}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{261,302}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
            <key>kill_lightning4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,310}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,310}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
            <key>kill_lightning5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{267,304}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{267,304}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
            <key>kill_lightning6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{255,302}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{255,302}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
            <key>kill_lightning7.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{215,306}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{215,306}}</string>
                <key>sourceSize</key>
                <string>{269,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shandian.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15bf7baf7998f9d4345e9d7af0b7511a$</string>
            <key>textureFileName</key>
            <string>shandian.png</string>
        </dict>
    </dict>
</plist>
