<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_skill0.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,276},{199,241}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{199,241}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{243,261}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{243,261}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill10.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,133},{163,141}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{163,141}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill11.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,519},{99,99}}</string>
                <key>offset</key>
                <string>{57,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,94},{99,99}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill12.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{129,195}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,40},{129,195}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{239,267}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{239,267}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{247,261}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{247,261}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,247},{255,261}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{255,261}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,243},{255,263}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{255,263}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{243,267}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{243,267}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,500},{249,261}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{249,261}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,751},{257,259}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{257,259}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
            <key>sword_skill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,271}}</string>
                <key>sourceSize</key>
                <string>{283,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sword_skill.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb36fc0693135a2c9edd0cb1f7eeaa20$</string>
            <key>textureFileName</key>
            <string>sword_skill.png</string>
        </dict>
    </dict>
</plist>
