<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,60},{2,3}}</string>
                <key>offset</key>
                <string>{508,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1071,189},{2,3}}</string>
                <key>sourceSize</key>
                <string>{1128,243}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,128},{288,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,168}}</string>
                <key>sourceSize</key>
                <string>{288,168}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{1008,237}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{1008,237}}</string>
                <key>sourceSize</key>
                <string>{1128,243}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{1006,243}}</string>
                <key>offset</key>
                <string>{-61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1006,243}}</string>
                <key>sourceSize</key>
                <string>{1128,243}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1522},{1004,217}}</string>
                <key>offset</key>
                <string>{-62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{1004,217}}</string>
                <key>sourceSize</key>
                <string>{1128,243}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1386},{992,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{992,128}}</string>
                <key>sourceSize</key>
                <string>{992,128}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,420},{964,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,13}}</string>
                <key>sourceSize</key>
                <string>{964,13}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,386},{928,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{928,32}}</string>
                <key>sourceSize</key>
                <string>{928,32}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,420},{900,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,39}}</string>
                <key>sourceSize</key>
                <string>{900,39}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,222},{288,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,162}}</string>
                <key>sourceSize</key>
                <string>{288,162}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,1010},{195,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,104}}</string>
                <key>sourceSize</key>
                <string>{195,104}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,298},{95,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,53}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,1207},{91,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,89}}</string>
                <key>sourceSize</key>
                <string>{91,89}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,234},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1386},{196,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,129}}</string>
                <key>sourceSize</key>
                <string>{196,129}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1336,198}}</string>
                <key>offset</key>
                <string>{-84,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{1336,198}}</string>
                <key>sourceSize</key>
                <string>{1504,324}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{1002,225}}</string>
                <key>offset</key>
                <string>{-63,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{1002,225}}</string>
                <key>sourceSize</key>
                <string>{1128,243}</string>
            </dict>
            <key>Bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,310},{18,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,69}}</string>
                <key>sourceSize</key>
                <string>{18,69}</string>
            </dict>
            <key>Bomb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1386},{187,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,130}}</string>
                <key>sourceSize</key>
                <string>{187,130}</string>
            </dict>
            <key>Bomb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1386},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>Bomb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,202},{177,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,137}}</string>
                <key>sourceSize</key>
                <string>{177,137}</string>
            </dict>
            <key>Bomb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,202},{182,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,143}}</string>
                <key>sourceSize</key>
                <string>{182,143}</string>
            </dict>
            <key>Bomb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1741},{174,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,148}}</string>
                <key>sourceSize</key>
                <string>{174,148}</string>
            </dict>
            <key>Bomb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{226,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,133}}</string>
                <key>sourceSize</key>
                <string>{226,133}</string>
            </dict>
            <key>Bomb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{234,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,131}}</string>
                <key>sourceSize</key>
                <string>{234,131}</string>
            </dict>
            <key>Bomb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,564},{238,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,114}}</string>
                <key>sourceSize</key>
                <string>{238,114}</string>
            </dict>
            <key>Bomb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,804},{204,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,105}}</string>
                <key>sourceSize</key>
                <string>{204,105}</string>
            </dict>
            <key>EnemyBullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,2},{30,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>EnemyBullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,32},{29,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{29,12}</string>
            </dict>
            <key>EnemyBullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,18},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>EnemyBullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,348},{31,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>EnemyBullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,46},{28,12}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>EnemyBullet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,353},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>EnemyBullet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,348},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>EnemyBullet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,348},{117,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,36}}</string>
                <key>sourceSize</key>
                <string>{117,36}</string>
            </dict>
            <key>HeroBullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,353},{56,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,17}}</string>
                <key>sourceSize</key>
                <string>{56,17}</string>
            </dict>
            <key>HeroBullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,386},{104,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,23}}</string>
                <key>sourceSize</key>
                <string>{104,23}</string>
            </dict>
            <key>HeroBullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,60},{96,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,25}}</string>
                <key>sourceSize</key>
                <string>{96,25}</string>
            </dict>
            <key>Skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,158},{74,24}}</string>
                <key>offset</key>
                <string>{-73,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{74,24}}</string>
                <key>sourceSize</key>
                <string>{236,68}</string>
            </dict>
            <key>Skill10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,298},{42,38}}</string>
                <key>offset</key>
                <string>{-86,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{42,38}}</string>
                <key>sourceSize</key>
                <string>{226,60}</string>
            </dict>
            <key>Skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,298},{148,40}}</string>
                <key>offset</key>
                <string>{-44,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{148,40}}</string>
                <key>sourceSize</key>
                <string>{236,68}</string>
            </dict>
            <key>Skill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,330},{232,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,68}}</string>
                <key>sourceSize</key>
                <string>{236,68}</string>
            </dict>
            <key>Skill4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{336,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,124}}</string>
                <key>sourceSize</key>
                <string>{336,124}</string>
            </dict>
            <key>Skill5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,114},{336,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{336,106}}</string>
                <key>sourceSize</key>
                <string>{336,124}</string>
            </dict>
            <key>Skill6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{336,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{336,110}}</string>
                <key>sourceSize</key>
                <string>{336,124}</string>
            </dict>
            <key>Skill7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,1298},{222,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{222,60}}</string>
                <key>sourceSize</key>
                <string>{226,60}</string>
            </dict>
            <key>Skill8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,128},{140,46}}</string>
                <key>offset</key>
                <string>{-43,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{140,46}}</string>
                <key>sourceSize</key>
                <string>{226,60}</string>
            </dict>
            <key>Skill9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,270},{76,46}}</string>
                <key>offset</key>
                <string>{-75,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{76,46}}</string>
                <key>sourceSize</key>
                <string>{226,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e61e2b0c6991ef007dfc249b79b9a2$</string>
            <key>textureFileName</key>
            <string>Bullet.png</string>
        </dict>
    </dict>
</plist>
