<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g_s1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{640,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,215}}</string>
                <key>sourceSize</key>
                <string>{640,215}</string>
            </dict>
            <key>g_s2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{640,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,187}}</string>
                <key>sourceSize</key>
                <string>{640,187}</string>
            </dict>
            <key>g_s3-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,191},{640,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,195}}</string>
                <key>sourceSize</key>
                <string>{640,195}</string>
            </dict>
            <key>l2_s1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{1280,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,272}}</string>
                <key>sourceSize</key>
                <string>{1280,272}</string>
            </dict>
            <key>l2_s2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1247},{1280,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,296}}</string>
                <key>sourceSize</key>
                <string>{1280,296}</string>
            </dict>
            <key>l3_s1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,118},{512,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,218}}</string>
                <key>sourceSize</key>
                <string>{512,218}</string>
            </dict>
            <key>l3_s2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,559},{512,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,220}}</string>
                <key>sourceSize</key>
                <string>{512,220}</string>
            </dict>
            <key>l3_s3-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{513,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,220}}</string>
                <key>sourceSize</key>
                <string>{513,220}</string>
            </dict>
            <key>l4_s1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1545},{1280,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,308}}</string>
                <key>sourceSize</key>
                <string>{1280,308}</string>
            </dict>
            <key>l5_b1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{148,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,86}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>l5_b2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{157,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,114}}</string>
                <key>sourceSize</key>
                <string>{157,114}</string>
            </dict>
            <key>l5_b3-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{167,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,101}}</string>
                <key>sourceSize</key>
                <string>{167,101}</string>
            </dict>
            <key>l5_b4-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{164,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,89}}</string>
                <key>sourceSize</key>
                <string>{164,89}</string>
            </dict>
            <key>l5_s1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,125}}</string>
                <key>sourceSize</key>
                <string>{33,125}</string>
            </dict>
            <key>l5_s2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{196,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,377}}</string>
                <key>sourceSize</key>
                <string>{196,377}</string>
            </dict>
            <key>l5_s3-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{75,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,125}}</string>
                <key>sourceSize</key>
                <string>{75,125}</string>
            </dict>
            <key>l7_s1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,781},{1287,190}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{1287,190}}</string>
                <key>sourceSize</key>
                <string>{1295,196}</string>
            </dict>
            <key>l7_s2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,388},{1269,169}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1269,169}}</string>
                <key>sourceSize</key>
                <string>{1277,175}</string>
            </dict>
            <key>overlay-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{322,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,180}}</string>
                <key>sourceSize</key>
                <string>{322,180}</string>
            </dict>
            <key>screen2backtut-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,973},{794,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,476}}</string>
                <key>sourceSize</key>
                <string>{794,476}</string>
            </dict>
            <key>topbar-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{1286,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1286,188}}</string>
                <key>sourceSize</key>
                <string>{1286,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture02.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d2101cd897c4aa9889f97897ab1d5a7$</string>
            <key>textureFileName</key>
            <string>texture02.png</string>
        </dict>
    </dict>
</plist>
