<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,729},{119,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{119,76}}</string>
                <key>sourceSize</key>
                <string>{123,80}</string>
            </dict>
            <key>a1-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,608},{119,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{119,76}}</string>
                <key>sourceSize</key>
                <string>{123,80}</string>
            </dict>
            <key>allunlocked-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,436},{405,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{405,66}}</string>
                <key>sourceSize</key>
                <string>{409,70}</string>
            </dict>
            <key>arrow-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,980},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>attention-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1553},{30,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,68}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>audiooff-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{101,103}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>audiooff-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1572},{103,105}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>audiooff-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1652},{101,103}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>audioon-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1612},{101,103}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>audioon-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1509},{103,105}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>audioon-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1610},{101,103}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>backp-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1787},{99,97}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>backp-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1623},{101,99}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{101,99}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>backp-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,966},{95,93}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{95,93}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>barricade-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,740},{204,262}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{204,262}}</string>
                <key>sourceSize</key>
                <string>{210,268}</string>
            </dict>
            <key>blade-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{201,245}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{201,245}}</string>
                <key>sourceSize</key>
                <string>{205,251}</string>
            </dict>
            <key>blade_back-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1016},{145,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{145,134}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>blade_low-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,232},{202,281}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{202,281}}</string>
                <key>sourceSize</key>
                <string>{204,283}</string>
            </dict>
            <key>blade_wheel-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1178},{202,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{202,199}}</string>
                <key>sourceSize</key>
                <string>{204,201}</string>
            </dict>
            <key>blood_drop-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,504},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>blooduseable-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1410},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,35}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>boostzone-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{465,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{465,33}}</string>
                <key>sourceSize</key>
                <string>{467,35}</string>
            </dict>
            <key>bubbleattachment-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1439},{132,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{132,131}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>bucket-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1018},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,49}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>buybutton-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1152},{142,180}}</string>
                <key>offset</key>
                <string>{-55,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{142,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buybutton-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,665},{135,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{135,85}}</string>
                <key>sourceSize</key>
                <string>{145,93}</string>
            </dict>
            <key>chainhook-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,590},{54,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,424}}</string>
                <key>sourceSize</key>
                <string>{56,426}</string>
            </dict>
            <key>chickenend-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,549},{327,189}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,189}}</string>
                <key>sourceSize</key>
                <string>{331,193}</string>
            </dict>
            <key>e_fence-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{418,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,157}}</string>
                <key>sourceSize</key>
                <string>{418,157}</string>
            </dict>
            <key>f1-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,539},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>fence-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1334},{103,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,139}}</string>
                <key>sourceSize</key>
                <string>{107,143}</string>
            </dict>
            <key>ground_blade-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,946},{230,252}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{230,252}}</string>
                <key>sourceSize</key>
                <string>{232,256}</string>
            </dict>
            <key>ground_blade_back-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,850},{223,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{223,144}}</string>
                <key>sourceSize</key>
                <string>{229,146}</string>
            </dict>
            <key>ground_blade_low-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{228,284}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{228,284}}</string>
                <key>sourceSize</key>
                <string>{232,290}</string>
            </dict>
            <key>headless_logo-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{611,183}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{611,183}}</string>
                <key>sourceSize</key>
                <string>{619,185}</string>
            </dict>
            <key>howtop-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1713},{99,97}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>howtop-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1621},{101,99}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,99}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>howtop-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1677},{99,97}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>instructions-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,851},{162,113}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{162,113}}</string>
                <key>sourceSize</key>
                <string>{174,125}</string>
            </dict>
            <key>kelchend-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,383},{43,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,51}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>knife-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1652},{103,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,70}}</string>
                <key>sourceSize</key>
                <string>{103,70}</string>
            </dict>
            <key>mobile_left-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1379},{134,98}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,98}}</string>
                <key>sourceSize</key>
                <string>{136,106}</string>
            </dict>
            <key>mobile_right-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1396},{136,98}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{136,98}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>mobilejump-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1379},{100,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>moregamesbutton-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1216},{140,178}}</string>
                <key>offset</key>
                <string>{-56,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{140,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>moregamesbutton-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,527},{136,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{136,85}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>multi2long-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1496},{57,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{57,55}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>multi2short-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,549},{57,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{57,55}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>multiply2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1481},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,129}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>near_miss_coll-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nearmiss-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1062},{224,214}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{224,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nearmisstext-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1233},{175,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{175,40}}</string>
                <key>sourceSize</key>
                <string>{179,44}</string>
            </dict>
            <key>newrecord-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1479},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,129}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>pausebutton-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,891},{87,85}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{87,85}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pausebutton-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,294},{89,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{89,87}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pausebutton-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,802},{87,85}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{87,85}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>pausegfx-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1075},{139,152}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{139,152}}</string>
                <key>sourceSize</key>
                <string>{143,156}</string>
            </dict>
            <key>pcleft-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1509},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>pcright-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1574},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>pcup-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1496},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>permanentunlocked-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,504},{384,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{384,43}}</string>
                <key>sourceSize</key>
                <string>{388,47}</string>
            </dict>
            <key>pickupunlocked-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,739},{321,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{321,43}}</string>
                <key>sourceSize</key>
                <string>{325,47}</string>
            </dict>
            <key>plaster-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,692},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>play_main-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{219,219}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{219,219}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>play_main-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{225,225}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{225,225}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>play_main-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1288},{219,219}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{219,219}}</string>
                <key>sourceSize</key>
                <string>{235,235}</string>
            </dict>
            <key>playp-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{99,97}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>playp-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1587},{101,99}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,99}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>playp-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1722},{99,97}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>plus100-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,740},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>plus50-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1178},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{53,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>replayend-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1688},{99,97}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>replayend-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1520},{101,99}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,99}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>replayend-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1614},{99,97}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{99,97}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>ribbon-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,966},{50,74}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{50,74}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>ropehook-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{65,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,467}}</string>
                <key>sourceSize</key>
                <string>{67,469}</string>
            </dict>
            <key>shield-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,383},{50,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,53}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>sprite-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,720}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,720}}</string>
                <key>sourceSize</key>
                <string>{294,720}</string>
            </dict>
            <key>sprite3-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{523,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{523,61}}</string>
                <key>sourceSize</key>
                <string>{527,65}</string>
            </dict>
            <key>spritefonta1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{251,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{251,16}}</string>
                <key>sourceSize</key>
                <string>{255,16}</string>
            </dict>
            <key>spritefonthighscoreend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{626,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{626,46}}</string>
                <key>sourceSize</key>
                <string>{630,46}</string>
            </dict>
            <key>timer-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,800},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,50}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>useablebloodbutton-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1612},{67,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,85}}</string>
                <key>sourceSize</key>
                <string>{67,85}</string>
            </dict>
            <key>useablebloodbutton-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1612},{67,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,85}}</string>
                <key>sourceSize</key>
                <string>{67,85}</string>
            </dict>
            <key>useablebloodbutton-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1612},{67,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,85}}</string>
                <key>sourceSize</key>
                <string>{67,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture03.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c02e30e90d2afb52b9070a184663c522$</string>
            <key>textureFileName</key>
            <string>texture03.png</string>
        </dict>
    </dict>
</plist>
