<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exitButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{442,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,215}}</string>
                <key>sourceSize</key>
                <string>{442,215}</string>
            </dict>
            <key>l4_s2-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{1280,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,310}}</string>
                <key>sourceSize</key>
                <string>{1280,310}</string>
            </dict>
            <key>near_miss_coll-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>noButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,446},{205,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,56}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>screen1backtut-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{794,476}}</string>
                <key>sourceSize</key>
                <string>{794,476}</string>
            </dict>
            <key>yesButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1786},{205,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,55}}</string>
                <key>sourceSize</key>
                <string>{205,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture05.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd553deb616f9ac4c91ae4ae80f21593$</string>
            <key>textureFileName</key>
            <string>texture05.png</string>
        </dict>
    </dict>
</plist>
