<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unit</key>
	<dict>
		<key>wan</key>
		<string>万</string>
	</dict>
	<key>PokerAction</key>
	<dict>
		<key>Check</key>
		<string>思考中</string>
		<key>Bet</key>
		<string>思考中</string>
		<key>AllIN</key>
		<string>AllIN</string>
		<key>Pass</key>
		<string>过牌</string>
		<key>Raise</key>
		<string>加注</string>
		<key>Call</key>
		<string>跟注</string>
		<key>Fold</key>
		<string>弃牌</string>
		<key>BigBlinds</key>
		<string>大盲注</string>
		<key>LittleBlinds</key>
		<string>小盲注</string>
	</dict>
	<key>MainScene</key>
	<dict>
		<key>NoLimit</key>
		<string>不限</string>
		<key>MaxScore</key>
		<string>最大携带</string>
		<key>MinScore</key>
		<string>最小携带</string>
	</dict>
	<key>Config</key>
	<dict>
		<key>HighCard</key>
		<string>高牌</string>
		<key>OnePair</key>
		<string>一对</string>
		<key>TwoPairs</key>
		<string>两对</string>
		<key>ThreeOfAKind</key>
		<string>三条</string>
		<key>Straight</key>
		<string>顺子</string>
		<key>Flush</key>
		<string>同花</string>
		<key>Fullhouse</key>
		<string>葫芦</string>
		<key>FourOfAKind</key>
		<string>四条</string>
		<key>StraightFlush</key>
		<string>同花顺</string>
		<key>RoyalFlush</key>
		<string>皇家同花顺</string>
		<key>CardTypeSort</key>
		<string>皇家同花顺&gt;同花顺&gt;四条&gt;葫芦&gt;同花&gt;顺子&gt;三条&gt;两对&gt;一对&gt;高牌</string>
	</dict>
	<key>LoadingScene</key>
	<dict>
		<key>processLabel</key>
		<string>请稍候,资源加载中...</string>
	</dict>
</dict>
</plist>
