<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PetDie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,307},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>PetDie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,311},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>PetDie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,258},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>PetDie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,248},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>PetDie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,251},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>PetDie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,360},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>PetDie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,146},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>PetDie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,290},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>PetDie8.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,188},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>PetDie9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,287},{52,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,29}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>PetFly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,147},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>PetFly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,151},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
            <key>PetFly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,102},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>PetFly4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,98},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>PetPowerOver1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,59},{75,54}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,54}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{69,30}}</string>
                <key>offset</key>
                <string>{26,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{69,30}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver11.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,58},{95,36}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{95,36}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{111,46}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{111,46}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,52}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{119,52}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver14.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{113,54}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{113,54}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver15.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,46},{103,54}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{103,54}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver16.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,96},{93,56}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,56}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,207},{53,46}}</string>
                <key>offset</key>
                <string>{-31,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{53,46}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{87,42}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{107,42}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,42}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{113,44}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{113,44}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,50},{99,46}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{99,46}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,154},{37,32}}</string>
                <key>offset</key>
                <string>{43,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,27},{37,32}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver8.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,242},{45,32}}</string>
                <key>offset</key>
                <string>{39,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,28},{45,32}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetPowerOver9.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,255},{53,30}}</string>
                <key>offset</key>
                <string>{34,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,30},{53,30}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>PetReady1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,195},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>PetReady10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,339},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>PetReady11.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,268},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>PetReady12.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,154},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>PetReady13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>PetReady14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>PetReady15.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,102},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>PetReady16.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,162},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>PetReady2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,136},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>PetReady3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,255},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>PetReady4.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>PetReady5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,207},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>PetReady6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>PetReady7.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,239},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>PetReady8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>PetReady9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,300},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>PetReleaseSkills1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>PetReleaseSkills2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,188},{49,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,54}}</string>
                <key>sourceSize</key>
                <string>{49,54}</string>
            </dict>
            <key>PetReleaseSkills3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,217},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>PetReleaseSkills4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,200},{49,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>PetReleaseSkills5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,318},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>PetReleaseSkills6.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,199},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>PetReleaseSkills7.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,154},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>PetReleaseSkills8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Pet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27853de65d22374dccd30ca54a388cba$</string>
            <key>textureFileName</key>
            <string>Pet.png</string>
        </dict>
    </dict>
</plist>
