<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,333},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>ca.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,467},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>fire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,499},{141,157}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{141,157}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{151,143}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{151,143}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,333},{163,157}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,157}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,642},{139,133}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{139,133}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,492},{149,135}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{149,135}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>fire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,388},{149,135}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{149,135}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>ice_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,127},{50,15}}</string>
                <key>offset</key>
                <string>{7,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,173},{50,15}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,273},{56,23}}</string>
                <key>offset</key>
                <string>{8,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,165},{56,23}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{124,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{124,189}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{124,189}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{124,189}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{140,187}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{140,187}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,381},{138,159}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{138,159}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,521},{118,141}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,39},{118,141}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,101},{62,27}}</string>
                <key>offset</key>
                <string>{8,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,161},{62,27}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,68},{64,31}}</string>
                <key>offset</key>
                <string>{8,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,157},{64,31}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,298},{84,55}}</string>
                <key>offset</key>
                <string>{18,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,134},{84,55}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,240},{124,169}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,20},{124,169}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{122,169}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{122,169}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{122,167}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{122,167}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{122,177}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{122,177}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>ice_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,128},{134,183}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{134,183}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>jinenglenque.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{268,44}}</string>
                <key>sourceSize</key>
                <string>{280,56}</string>
            </dict>
            <key>pa.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,321},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,495},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>penpen.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,349},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>skills.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>slice05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,552},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>slice07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,602},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>slice10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,492},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>slice13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,452},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>update1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,502},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>update2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,523},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>wa.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,361},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>wind_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,48},{68,18}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,80},{68,18}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,377},{88,40}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,58},{88,40}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,629},{108,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>wind_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,831},{110,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>wind_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,635},{100,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,105}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>wind_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,525},{94,80}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{94,80}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,635},{106,92}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{106,92}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,735},{104,96}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{104,96}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,525},{108,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{110,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,729},{100,104}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{100,104}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,641},{106,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{106,100}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wind_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,629},{104,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{104,106}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>wire_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,179},{49,15}}</string>
                <key>offset</key>
                <string>{11,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,175},{49,15}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,384},{53,23}}</string>
                <key>offset</key>
                <string>{12,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,168},{53,23}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{123,191}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{123,191}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,127},{111,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{111,189}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{103,187}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{103,187}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,107},{93,185}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{93,185}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,409},{51,41}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,42},{51,41}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,244},{57,27}}</string>
                <key>offset</key>
                <string>{12,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,164},{57,27}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,130},{61,31}}</string>
                <key>offset</key>
                <string>{12,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,160},{61,31}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,163},{79,59}}</string>
                <key>offset</key>
                <string>{20,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,132},{79,59}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,264},{115,169}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{115,169}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,257},{129,169}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{129,169}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,366},{131,167}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{131,167}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,126},{129,175}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{129,175}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wire_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,202},{129,181}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{129,181}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>wireitem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,573},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>wireitem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,623},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>wuyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,257},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,18}}</string>
                <key>sourceSize</key>
                <string>{37,18}</string>
            </dict>
            <key>xiaomenji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,240},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>ya.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,292},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>superskills.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85c04a9f4efe0a9572fcb37a7e5f34ab$</string>
            <key>textureFileName</key>
            <string>superskills.png</string>
        </dict>
    </dict>
</plist>
