<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,176},{90,89}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{90,89}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1222},{120,109}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{120,109}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,985},{148,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{148,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,704},{152,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{148,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,573},{152,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,129}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,908},{146,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{146,123}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,760},{146,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{146,123}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1056},{144,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{144,119}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,544},{142,109}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{142,109}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1056},{142,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{142,121}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,856},{148,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,346},{76,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,34},{76,77}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,403},{192,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,31},{192,81}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,526},{274,111}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{274,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,487},{274,113}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,113}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,352},{276,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,133}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,319},{276,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,139}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,178},{276,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,139}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{276,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,133}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{276,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,133}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,460},{276,111}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,932},{148,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{148,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,649},{274,111}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,536},{274,111}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1195},{133,132}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,30},{133,132}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1057},{149,148}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,22},{149,148}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,757},{169,168}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,12},{169,168}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,750},{175,174}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,9},{175,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,762},{171,170}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,11},{171,170}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,356},{381,168}}</string>
                <key>offset</key>
                <string>{89,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,11},{381,168}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{561,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{561,172}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{565,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{565,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,932},{150,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{565,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,176},{463,174}}</string>
                <key>offset</key>
                <string>{51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,9},{463,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{429,184}}</string>
                <key>offset</key>
                <string>{46,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{429,184}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,178},{389,176}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,8},{389,176}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,346},{283,188}}</string>
                <key>offset</key>
                <string>{106,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,0},{283,188}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,573},{221,182}}</string>
                <key>offset</key>
                <string>{136,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,10},{221,182}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1112},{135,108}}</string>
                <key>offset</key>
                <string>{112,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,39},{135,108}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,425},{117,62}}</string>
                <key>offset</key>
                <string>{114,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,77},{117,62}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1098},{136,134}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,134}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1059},{134,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,927},{148,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,909},{146,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,757},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,536},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,833},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1057},{140,132}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{144,132}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1177},{134,130}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{134,130}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,267},{134,82}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,31},{134,82}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,969},{150,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,805},{150,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>86.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,364},{150,170}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,21},{150,170}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,602},{146,180}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,9},{146,180}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{146,184}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,5},{146,184}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,688},{166,190}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{166,190}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,926},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>90.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,639},{164,188}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{164,188}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>91.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,674},{172,180}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,4},{172,180}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,760},{174,170}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,9},{174,170}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,352},{162,196}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,9},{162,196}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,516},{242,192}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{242,192}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>95.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{254,184}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{254,184}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,164},{292,180}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{292,180}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>97.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{306,160}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{306,160}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fazhen3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5968cbc82bab61677d923f80479db09c$</string>
            <key>textureFileName</key>
            <string>fazhen3.png</string>
        </dict>
    </dict>
</plist>
