<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,176},{90,89}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{90,89}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,966},{120,109}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{120,109}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,839},{148,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{148,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,805},{152,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,766},{148,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,674},{152,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,129}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1099},{146,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{146,123}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1016},{146,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{146,123}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,941},{144,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{144,119}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,797},{142,109}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{142,109}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,474},{58,26}}</string>
                <key>offset</key>
                <string>{-28,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{58,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,274},{64,28}}</string>
                <key>offset</key>
                <string>{-30,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{64,28}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,895},{142,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{142,121}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,474},{68,26}}</string>
                <key>offset</key>
                <string>{-27,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,404},{68,26}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{68,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,206},{66,28}}</string>
                <key>offset</key>
                <string>{-23,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{66,28}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,2},{66,30}}</string>
                <key>offset</key>
                <string>{-28,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{66,30}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,340},{62,28}}</string>
                <key>offset</key>
                <string>{-33,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{62,28}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,404},{68,26}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,138},{66,28}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{66,28}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,70},{66,28}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,5},{66,28}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,984},{148,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,267},{76,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,34},{76,77}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,484},{192,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,31},{192,81}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,487},{274,111}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{274,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{274,113}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,113}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,368},{276,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,133}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{276,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,139}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,348},{276,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,139}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,352},{276,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,133}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{276,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,133}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,489},{276,111}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,766},{148,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{148,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{274,111}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,602},{274,111}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,111}}</string>
                <key>sourceSize</key>
                <string>{276,139}</string>
            </dict>
            <key>42.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1105},{133,132}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,30},{133,132}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,866},{149,148}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,22},{149,148}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,696},{169,168}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,12},{169,168}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{175,174}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,9},{175,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,524},{171,170}}</string>
                <key>offset</key>
                <string>{195,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,11},{171,170}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,178},{381,168}}</string>
                <key>offset</key>
                <string>{89,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,11},{381,168}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{561,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{561,172}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>49.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{565,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{565,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,837},{150,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{565,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,176},{463,174}}</string>
                <key>offset</key>
                <string>{51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,9},{463,174}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{429,184}}</string>
                <key>offset</key>
                <string>{46,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{429,184}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,346},{389,176}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,8},{389,176}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,178},{283,188}}</string>
                <key>offset</key>
                <string>{106,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,0},{283,188}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,715},{221,182}}</string>
                <key>offset</key>
                <string>{136,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,10},{221,182}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>56.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1018},{135,108}}</string>
                <key>offset</key>
                <string>{112,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,39},{135,108}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>57.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,678},{117,62}}</string>
                <key>offset</key>
                <string>{114,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,77},{117,62}}</string>
                <key>sourceSize</key>
                <string>{565,192}</string>
            </dict>
            <key>58.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1062},{136,134}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,134}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,916},{134,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,970},{148,127}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,964},{146,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,696},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>62.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,536},{150,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,834},{150,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,134}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,971},{140,132}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,837},{144,132}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,132}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,696},{134,130}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{134,130}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>67.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,348},{134,82}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,31},{134,82}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,710},{150,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,127}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,710},{150,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,125}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>86.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,364},{150,170}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,21},{150,170}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>87.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,934},{146,180}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,9},{146,180}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>88.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,689},{146,184}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,5},{146,184}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{166,190}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{166,190}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,832},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,600},{164,188}}</string>
                <key>offset</key>
                <string>{14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{164,188}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>91.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,899},{172,180}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,4},{172,180}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,524},{174,170}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,9},{174,170}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,352},{162,196}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,9},{162,196}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,516},{242,192}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{242,192}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>95.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,503},{254,184}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{254,184}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,164},{292,180}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{292,180}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
            <key>97.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,2},{306,160}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{306,160}}</string>
                <key>sourceSize</key>
                <string>{306,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fazhen4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7541d3e33a6d8a017bc78f96b0791b6$</string>
            <key>textureFileName</key>
            <string>fazhen4.png</string>
        </dict>
    </dict>
</plist>
