<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{197,111}}</string>
                <key>sourceSize</key>
                <string>{205,119}</string>
            </dict>
            <key>mood.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,82},{142,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,12}}</string>
                <key>sourceSize</key>
                <string>{142,12}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Help.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7250a1941f68aecc8143423137f4acef$</string>
            <key>textureFileName</key>
            <string>Help.png</string>
        </dict>
    </dict>
</plist>
