<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>re1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 110}, {85, 135}}</string>
			<key>spriteOffset</key>
			<string>{-155, 50}</string>
			<key>spriteSize</key>
			<string>{85, 135}</string>
			<key>spriteSourceSize</key>
			<string>{455, 455}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 181}, {85, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>re2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{56, 126}, {95, 145}}</string>
			<key>spriteOffset</key>
			<string>{-124, 29}</string>
			<key>spriteSize</key>
			<string>{95, 145}</string>
			<key>spriteSourceSize</key>
			<string>{455, 455}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 159}, {95, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>re3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 148}, {109, 157}}</string>
			<key>spriteOffset</key>
			<string>{-84, 1}</string>
			<key>spriteSize</key>
			<string>{109, 157}</string>
			<key>spriteSourceSize</key>
			<string>{455, 455}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 0}, {109, 157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>re4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{121, 172}, {125, 179}}</string>
			<key>spriteOffset</key>
			<string>{-44, -34}</string>
			<key>spriteSize</key>
			<string>{125, 179}</string>
			<key>spriteSourceSize</key>
			<string>{455, 455}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {125, 179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>re</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>re</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>